<html>
<head>
    <title>Task Tracker</title>
    <style>
        .title {
            font-size: 1.5em;
            color: maroon;
        }
        .subTitle {
            font-size: 1.2em;
        }
        .content table {
            font-size: 1em;
            color: gray;
        }
        td {
            padding: 5px;
            border-bottom: 1px whitesmoke dotted;
        }
        .label {
            font-weight: bold;
        }
    </style>
</head>
<body class="logo">
    @RenderBody()
<hr/>
<small style="color: gray">Bu e-maili Task Tracker uygulamasından aldınız. Sorularınızla ilgili lütfen bizimle <a href="/iletisim" target="_blank">iletişime</a> geçiniz.
</small><br/>

</body>
</html>